
<h1>Rigester</h1>

<form asp-action="Add">
    <input type="text" name="name" placeholder="Name" class="Register-Name" value=""/>
    <input type="text" name="l_name" placeholder="l_name" class="Register-Last-Name" value=""/>
    <input type="text" name="phone" placeholder="phone" class="Register-Phone" value=""/>
    <input type="text" name="n_code" placeholder="n_code" class="Register-National-Code" value=""/>
    <button type="submit">Rigester</button>
</form>