@model IEnumerable<UserModel>

<h1>Login</h1>

<form asp-action="Login">
    <input type="text" name="n_code" placeholder="n_code" value=""/>
    <input type="text" name="phone" placeholder="phone_number" value=""/>
    <button type="submit">Login</button>
</form>