
<h1>menu</h1>

<form asp-action="Turnover" method="post">
    <input type="hidden" value="" />
    <button type="submit">گردش حساب</button>
</form>

<form asp-action="AccountMenu" method="post">
    <input type="hidden" value="" />
    <button type="submit">برداشت</button>
</form>

<form asp-action="TurnoverList" method="post">
    <input type="hidden" value="" />
    <button type="submit">لسیت گردش حساب</button>
</form>